[submodule "debug"]
	path = debug
	url = ../storage-universal_windows-x64-debug
[submodule "static_debug"]
	path = static_debug
	url = ../storage-universal_windows-x64-static_debug
[submodule "static_release"]
	path = static_release
	url = ../storage-universal_windows-x64-static_release
[submodule "release"]
	path = release
	url = ../storage-universal_windows-x64-release
