[submodule "Debug"]
	path = Debug
	url = ../storage-universal_windows-x64-Debug
	branch = main
[submodule "Release"]
	path = Release
	url = ../storage-universal_windows-x64-Release
	branch = main
[submodule "StaticDebug"]
	path = StaticDebug
	url = ../storage-universal_windows-x64-StaticDebug
	branch = main
[submodule "StaticRelease"]
	path = StaticRelease
	url = ../storage-universal_windows-x64-StaticRelease
	branch = main
